/* Глобальные переменные для шрифтов */
:root {
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

* {
  font-family: var(--font-roboto);
}

html,
body,
#root {
  font-family: var(--font-roboto);
}

.font-inter {
  font-family: var(--font-inter);
}

.heading-inter {
  font-family: var(--font-inter);
  font-weight: 600;
}

.text-inter {
  font-family: var(--font-inter);
  font-weight: 400;
}

.button-inter {
  font-family: var(--font-inter);
  font-weight: 500;
}
